.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.SearchForm-wrapper form{
  margin: 0 auto;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MovieList-item {
  margin-bottom: 24px;
  width: 48%;
  max-width: 300px;
}